html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}


/* make all images cover the whole screen */
img
{
  	background-repeat: none;
  	width: 100%;
  	position: absolute;
  	top: 0;
  	left: 0;
}

/* select the dead image. Make it not visible until an agent dies
(gameOver class is added when an agent dies) */
img:nth-of-type(4){
	display: none;
}

img:nth-of-type(4).gameOver   
{
	display: block;
}


