/** 
 * script.css
 * Stylesheet for the AMISTAD-intention-exp2 animation.
 */

html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}


/* Make all images cover the whole screen */
img
{
  	background-repeat: none;
  	width: 100%;
  	position: absolute;
  	top: 0;
  	left: 0;
}

/* Select the you survived/you died images. Make them invisible until end of simulation */
img.endingImage{
	display: none;
}

img.endingImage.lastImage 
{
	display: block;
}